/*.log
/*.substvars
/.debhelper
/changelog
/files
/grumple-dev
/grumple-source
/grumple-iokit
/grumple-tests
/grumple-resource-agents
/grumple-*.substvars
/grumple-*-utils
/grumple-server-utils.install
/grumple-client-utils.install
/grumple-tests.install
/tmp
